@font-face {
  font-family: "iconfont"; /* Project id 4031152 */
  src: url('iconfont.woff2?t=1730964669167') format('woff2'),
       url('iconfont.woff?t=1730964669167') format('woff'),
       url('iconfont.ttf?t=1730964669167') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaohongshu:before {
  content: "\e602";
}

.icon-zhihu:before {
  content: "\e69b";
}

.icon-stackoverflow:before {
  content: "\e625";
}

.icon-yahoo-fill:before {
  content: "\e883";
}

.icon-baidurenzhenga:before {
  content: "\e61b";
}

.icon-sousuo:before {
  content: "\ea7a";
}

.icon-mozilla:before {
  content: "\e600";
}

.icon-douyin:before {
  content: "\e673";
}

.icon-bilibili-line1:before {
  content: "\ea96";
}

.icon-bilibili-line:before {
  content: "\e75e";
}

.icon-github:before {
  content: "\ec01";
}

.icon-sougou:before {
  content: "\e956";
}

.icon-upload:before {
  content: "\e75d";
}

.icon-16trash:before {
  content: "\e652";
}

.icon-icons-duckduckgo:before {
  content: "\eece";
}

.icon-add-bold:before {
  content: "\e685";
}

.icon-bing:before {
  content: "\e69a";
}

.icon-google:before {
  content: "\e87a";
}

.icon-search:before {
  content: "\e741";
}

.icon-bxl-baidu:before {
  content: "\e6e4";
}

.icon-settings:before {
  content: "\e8e2";
}

.icon-close:before {
  content: "\e668";
}

