@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @keyframes rotate {
    0% {
      transform-origin: 50%;
      transform: rotate(0deg);
    }
  
    100% {
      transform-origin: 50%;
      transform: rotate(360deg);
    }
  }
  
  body,html{
    height: 100%;
    overflow: hidden;
  }
  .dark-hover-bg{
    background-color: rgb(23 30 40) !important;
  }
  .dark-bg {
    background-color: rgb(31 41 55 / 1) !important;
    color: #ccc;
  }
  .dark-suggest-bg{
    background: rgba(0, 0, 0, 0.5) !important;
  }
  .dark-shadow {
    box-shadow: 2px 8px 16px #000000bf !important;
  }
  .dark-icon{
    fill: #ccc !important;
  }
  .dark-search-engine{
    background: rgba(0, 0, 0, 0.5);
  }
  .input-dark{
    color: #ccc !important;
  }
  .dark-settings-model{
    background-color: rgba(0, 0, 0, .5) !important;
    color: #eee !important;
  }
}