@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  body,html{
    height: 100%;
    overflow: hidden;
  }
  .dark-hover-bg{
    background-color: rgb(23 30 40) !important;
  }
  .dark-bg {
    background-color: rgb(31 41 55 / 1) !important;
    color: #ccc;
  }
  .dark-shadow {
    box-shadow: 2px 8px 16px #000000bf !important;
  }
}